<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <div id="navigation">
      <div class="link"><a href="/mercury"> Mercury </a></div>
      <div class="link"><a href="/venus"> Venus </a></div>
      <div class="link"><a href="/earth"> Earth </a></div>
      <div class="link"><a href="/mars"> Mars </a></div>
      <div class="link"><a href="/jupiter"> Jupiter </a></div>
      <div class="link"><a href="/saturn"> Saturn </a></div>
      <div class="link"><a href="/uranus"> Uranus </a></div>
      <div class="link"><a href="/neptune"> Neptune </a></div>
      <div class="link"><a href="/"> Home </a></div>
    </div>
    <div class="planetinfo">
      <div id="planettitle"><h1><%= title %></h1></div>
      <div id="planetimage"><img class="planetimg" src=<%=imgUrl%> alt="Image of <%=title%>"></div><div id="planettext">